{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ViewAndEditBilling",
      "Effect": "Allow",
      "Action": [
        "aws-portal:ViewBilling",
        "aws-portal:ViewUsage",
        "aws-portal:ViewAccount",
        "budgets:ViewBudget",
        "budgets:ModifyBudget"
      ],
      "Resource": "*"
    }
  ]
}