{
    "Version": "2012-10-17",
    "Statement": [
      {
        "Effect": "Allow",
        "Action": [
          "iam:*",
          "organizations:Describe*",
          "organizations:List*",
          "account:ListRegions",
          "sts:GetCallerIdentity"
        ],
        "Resource": "*"
      }
    ]
  }